.blue-with-padding {
padding: 5px !important;
background: blue;
}
.yellow-with-large-padding {
padding: 70px !important;
background: yellow;
}
.four-hundred-width {
    width: 400px;
}
.cell-width{
    width: 20%;
}